@import "../../styles/variables.scss";
.Input {
  label {
    font-weight: 500;
    font-size: 20;
  }
  &__password {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
    padding: 0.7rem;
    border-radius: $borderRadius;
    background-color: $light;
    height: 40px;
    input {
      flex: 1;
      font-size: 15px;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &__error {
    font-size: 12px;
    padding: 3px;
    color: $red;
    display: block;
    max-width: 360px;
  }
}
