@import "../../styles/variables.scss";
.DateInput {
    display: flex;
    flex-direction: column;
  label {
    font-weight: 500;
    font-size: 20;
  }
  input {
    width: 360px;
    padding: 0.7rem;
    border-radius: $borderRadius;
    background-color: $blue-light;
    font-size: 15px;
    border: none;
    outline: none;
  }
}
