@import "../../styles/variables.scss";

.CountrySelector {
  margin: 10px 0px;
  label {
    font-weight: 500;
    font-size: 20;
  }
  &__dropdown {
    width: 200px;
    padding: 0.7rem;
    border-radius: $borderRadius;
    background-color: $light;
    height: 40px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
